{
      "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E54_Dimension>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E31_Document>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E21_Person>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/extensions/crmsci/S21_Measurement>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E5_Event>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E69_Death>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E6_Destruction>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/extensions/crmsci/S18_Alteration>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/extensions/crminf/I12_Adopted_Belief>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E35_Title>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<http://www.cidoc-crm.org/cidoc-crm/E65_Creation>": [
          {
            "kind": "resource",
            "queryPattern": "$subject a ?__domain__ .
            $subject $__relation__ ?__value__ ."
          }
      ],
      "<https://www.w3.org/2001/XMLSchema#date>": [
      {
        "kind": "date-range",
        "datatype": "http://www.w3.org/2001/XMLSchema#date",
        "queryPattern": "
          $subject ?__relation__ ?literal .
          BIND(xsd:date(STR(?literal)) as ?date_value)
          FILTER(?date_value <= ?__dateEndValue__ ) .
          FILTER(?date_value >= ?__dateBeginValue__ ) .
        "
      }
    ],
      "<http://www.w3.org/2001/XMLSchema#double>": [{
         "kind": "numeric-range",
         "datatype": "http://www.w3.org/2001/XMLSchema#double",
         "queryPattern": "
           {
            $subject a ?__domain__.
            $subject ?__relation__ ?literal .
            FILTER(?literal >= ?__numericRangeBeginValue__) .
            FILTER(?literal <= ?__numericRangeEndValue__) .
           }"
        }
      ],
      "<http://www.w3.org/2001/XMLSchema#string>": [{
  "kind": "text",
  "queryPattern": "
    $subject ?__relation__ ?literal .
    FILTER(CONTAINS(LCASE(STR(?literal)), LCASE(?__textValue__)))
  "
}],
      "<http://www.w3.org/2001/XMLSchema#boolean>": [{
  "kind": "boolean",
  "queryPattern": "
    $subject ?__relation__ ?literal .
    FILTER(?literal = ?__booleanValue__)
  "
}]
  
   }