<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="icon" href="/assets/no_auth/favicon.ico" type="image/x-icon">
   <link href="/assets/home.css" rel="stylesheet" type="text/css">
   <title>Home</title>
</head>

<body>
   <h1>Earthquake RS:A KG into Historical Earthquake Statistics</h1>
   
   

   <div id="photoTiles">
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/arkalochori.webp"></div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/church.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/seismos_thessaloniki_78.webp">
            </div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/ΣΕΙΣΜΟΣ-ΕΠΤΑΝΗΣΑ-1953.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/house.webp"></div>
            <div class="flip-card-back"><img class="back"src="/assets/homepage/flip/32d7848ebb590546f3492ab827e22ebd.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/seismic-activity.webp"></div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/seismos-2016.webp"></div>
         </div>
      </div>
      <div class="search-container">
         <input type="text" class="search-box" placeholder="Search Earthquakes">
         <i class="search-icon">🔍</i>
      </div>
   </div>
   
   <div class="metrics-container">
      <div class="metrics-title">Statistics</div>
      <div class="metrics-boxes">
         <div class="metric-box">
            <div class="metric-value">3963</div>
            <div class="metric-label">Total Earthquakes</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">6.3</div>
            <div class="metric-label">Highest Magnitude</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">Santorini,Greece</div>
            <div class="metric-label">Latest Earthquake Location</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">2.8</div>
            <div class="metric-label">Latest Magnitude</div>
         </div>
      </div>
      <button class="view-metrics-btn">View all metrics</button>
   </div>

</body>

</html>