
<div id="earthquake-search">
  <ol class="page-breadcrumb">
    <li><a title="Home" href="/resource/start">Home</a></li>
    <li class="active">Earthquake Search Builder</li>
  </ol>
  
  <div class="page">
    <div class="page__body--borderless">
      <!-- IMPORTANT: Complete opening tag with all required attributes -->
      <semantic-search id="semantic-search" limit="1000" 
        categories='[[> rsp:SearchCategories]]' 
        relations='[[> rsp:SearchRelations]]' 
        search-profile='[[> rsp:SearchProfile]]'>
        <!-- Query Builder -->
        <semantic-search-query-builder
          resource-selector='{
            "query": "PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> SELECT DISTINCT ?suggestion ?label WHERE { ?subject a ?__domain__. ?suggestion a ?__range__. ?suggestion rdfs:label ?label. FILTER regex(?label, ?__token__, \"i\") }",
            "suggestionTupleTemplate": "<span title=\"{{label.value}}\">{{label.value}} </span>",
            "noSuggestionsTemplate": "<div class=\"suggestion-no-matches\">no matches found</div>"
          }'
          relation-template='<div style="margin-left: {{order.value}}px">{{label}}</div>'
          category-view-template="{{>category-template}}"
          query='SELECT ?suggestion ?label WHERE {
          ?suggestion rdfs:label ?label .
          FILTER (bif:contains(?label, ?__value__)).
          } ORDER BY ?label LIMIT 10'>
          <template id="category-template">
            <div style="display: flex; align-items: center;">
              <div class="semantic-search__class-selector-item">
                <img src="{{thumbnail}}">
              </div>
              <span><mp-label iri="{{iri.value}}"></mp-label></span>
            </div>
          </template>
        </semantic-search-query-builder>
        
        <!-- Main Search Area -->
        <div class="row">
          <!-- Facets/Filters -->
          <bs-col lg="3" md="4" sm="5" class="fade-in-fwd filters-container" style="margin-top: 8px">
            <bs-panel id="filter-panel" header="Filters" collapsible="true" default-expanded="true">
              <semantic-search-facet open-by-default='true' sortby='count-desc' 
                facet-values-threshold="1000"></semantic-search-facet>
            </bs-panel>
          </bs-col>
          
          <!-- Results Area -->
          <semantic-search-result-holder id="search-results-holder">
            <bs-col lg="9" md="8" sm="7">
              <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
              
              <!-- Result Count -->
              <semantic-search-result id="result-count">
                <semantic-query id="count-results" query='SELECT (COUNT(DISTINCT ?subject) as ?count) WHERE { }' 
                  template="{{>currentResultCount}}">
                  <template id="currentResultCount">
                    <span>
                      Found
                      {{#ifCond bindings.0.count.value "==" 1000 }}
                        more than 1000 matches, please refine your search
                      {{else}}
                        {{bindings.0.count.value}} matches
                      {{/ifCond}}
                    </span>
                  </template>
                </semantic-query>
              </semantic-search-result>
              
              <!-- Results Tabs -->
              <!-- <bs-tabs default-active-key="1" id="search-results" animation="false">
                
                <bs-tab event-key="1" title="List">
                  <semantic-search-result id="list-view-result">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="result-list">
                          <div class="list-template">
                            
                            <semantic-table 
                              query='
                              PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                              SELECT ?subject ?label ?typeLabel ?placeLabel ?date ?magnitude WHERE {
                                ?subject rdfs:label ?label .
                                OPTIONAL { 
                                  ?subject a ?type .
                                  ?type rdfs:label ?typeLabel .
                                }
                                OPTIONAL {
                                  ?subject <http://www.cidoc-crm.org/cidoc-crm/P53_has_former_or_current_location> ?place .
                                  ?place rdfs:label ?placeLabel .
                                }
                                OPTIONAL {
                                  ?subject <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?timespan .
                                  ?timespan <http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin> ?date .
                                }
                                OPTIONAL { 
                                  ?subject <https://crm-eq.ics.forth.gr/ontology#EQ_magnitude> ?magnitude .
                                  FILTER(ISNUMERIC(?magnitude))
                                }
                              }'
                              tuple-template='{{>earthquakeTemplate}}' options='{"showFilter":true}'>
                              <template id='earthquakeTemplate'>
                                <div class="panel panel-default earthquake-card">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">
                                      <semantic-link iri="{{subject.value}}">{{label.value}}</semantic-link>
                                    </h3>
                                  </div>
                                  <div class="panel-body">
                                    <div><b>Type:</b> {{typeLabel.value}}</div>
                                    {{#if placeLabel.value}}
                                    <div><b>Location:</b> {{placeLabel.value}}</div>
                                    {{/if}}
                                    {{#if date.value}}
                                    <div><b>Date:</b> {{date.value}}</div>
                                    {{/if}}
                                    {{#if magnitude.value}}
                                    <div><b>Magnitude:</b> {{magnitude.value}}</div>
                                    {{/if}}
                                  </div>
                                </div>
                              </template>
                            </semantic-table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </semantic-search-result>
                </bs-tab> -->
                
                <!-- Table View (Fixed Query) -->
                <bs-tab event-key="2" title="Table">
                  <semantic-search-result id="table-view-result">
                    <semantic-table id="table-result"
                      query='
                      SELECT ?subject ?label ?typeLabel ?placeLabel ?date ?magnitude WHERE {
                        ?subject rdfs:label ?label .
                        OPTIONAL { 
                          ?subject a ?type .
                          ?type rdfs:label ?typeLabel .
                        }
                        OPTIONAL {
                          ?subject <http://www.cidoc-crm.org/cidoc-crm/P53_has_former_or_current_location> ?place .
                          ?place rdfs:label ?placeLabel .
                        }
                        OPTIONAL {
                          ?subject <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?timespan .
                          ?timespan <http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin> ?date .
                        }
                        OPTIONAL { 
                          ?subject <https://crm-eq.ics.forth.gr/ontology#EQ_magnitude> ?magnitude .
                          FILTER(ISNUMERIC(?magnitude))
                        }
                      }'
                      options='{"showFilter":true,"showColumnToggle":true}'
                      no-result-template='No results found' 
                      column-configuration='[
                        {"variableName":"subject","displayName":"IRI","visible":false},
                        {"variableName":"label","displayName":"Name","cellTemplate":"{{> link}}"},
                        {"variableName":"typeLabel","displayName":"Type"},
                        {"variableName":"placeLabel","displayName":"Location"},
                        {"variableName":"date","displayName":"Date"},
                        {"variableName":"magnitude","displayName":"Magnitude"}
                      ]'>
                      <template id='link'>
                        <semantic-link iri="{{subject.value}}">{{label.value}}</semantic-link>
                      </template>
                    </semantic-table>
                  </semantic-search-result>
                </bs-tab>
                
                <!-- Map View -->
                <bs-tab event-key="3" title="Map">
                  <semantic-search-result id="map-view-result">
                    <div style="height: 600px;">
                      <mp-event-based-map id="map-view" 
                        query='
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                        SELECT ?subject ?label ?lat ?long (COALESCE(?magnitude, "0") as ?magnitudeValue) WHERE {
                          ?subject a <https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake> .
                          ?subject rdfs:label ?label .
                          ?subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?place .
                          ?place <http://www.w3.org/2003/01/geo/wgs84_pos#lat> ?lat .
                          ?place <http://www.w3.org/2003/01/geo/wgs84_pos#long> ?long .
                          FILTER(BOUND(?lat) && BOUND(?long))
                          OPTIONAL { 
                            ?subject <https://crm-eq.ics.forth.gr/ontology#EQ_magnitude> ?magnitude .
                            FILTER(ISNUMERIC(?magnitude))
                          }
                        }' 
                        map-zoom="2" 
                        color-property="magnitudeValue"
                        popup-template="<div><b>{{label.value}}</b><br>Magnitude: {{magnitudeValue.value}}</div>">
                      </mp-event-based-map>
                    </div>
                  </semantic-search-result>
                </bs-tab>
                
                <!-- Timeline View -->
                <bs-tab event-key="4" title="Timeline">
                  <semantic-search-result id="timeline-view-result">
                    <div style="height: 400px;">
                      <semantic-timeline id="timeline-view"
                        instance-base-iri="http://www.example.org/timeline"
                        default-view="month"
                        start-date="2010-01-01T00:00:00"
                        query='
                        SELECT ?subject ?label ?start ?end ?magnitude WHERE {
                          ?subject rdfs:label ?label .
                          ?subject <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?timespan .
                          ?timespan <http://www.cidoc-crm.org/cidoc-crm/P82a_begin_of_the_begin> ?start .
                          OPTIONAL { ?timespan <http://www.cidoc-crm.org/cidoc-crm/P82b_end_of_the_end> ?end }
                          OPTIONAL { 
                            ?subject <https://crm-eq.ics.forth.gr/ontology#EQ_magnitude> ?magnitude .
                            # Ensure magnitude is treated as a number
                            FILTER(ISNUMERIC(?magnitude))
                          }
                        }'>
                      </semantic-timeline>
                    </div>
                  </semantic-search-result>
                </bs-tab>
              </bs-tabs>
              
              <!-- Action Buttons -->
              <hr />
              <div class="semantic-search-results-actions pull-right">
                <semantic-search-result id="csv-download-result">
                  <mp-sparql-download id="csv-result" header="text/csv" filename="earthquake-results.csv">
                    <button class="btn btn-default" style="margin-right: 10px">
                      Download CSV
                    </button>
                  </mp-sparql-download>
                </semantic-search-result>
                <semantic-search-result id="json-download-result">
                  <mp-sparql-download id="json-result" header="application/sparql-results+json" 
                    filename="earthquake-results.json">
                    <button class="btn btn-default" style="margin-right: 10px">
                      Download JSON
                    </button>
                  </mp-sparql-download>
                </semantic-search-result>
              </div>
              <div class="semantic-search-results-actions">
                <semantic-search-result id="use-in-search-result">
                  <semantic-search-action-use-result-in-extended-search>
                    <button class="btn btn-default" style="margin-right: 10px">
                      Use in Search
                    </button>
                  </semantic-search-action-use-result-in-extended-search>
                </semantic-search-result>
                <mp-anonymous-hidden>
                  <semantic-search-result id="save-set-result">
                    <semantic-search-action-save-set-result id="save-set-result-action">
                      <button class="btn btn-default" style="margin-right: 10px">
                        Save As Set
                      </button>
                    </semantic-search-action-save-set-result>
                  </semantic-search-result>
                </mp-anonymous-hidden>
              </div>
            </bs-col>
          </semantic-search-result-holder>
        </div>
      </semantic-search>
    </div>
    
    <!-- Guided Tour -->
    <rs-guided-tour id='guided-tour' steps='[{
      "text": "Welcome to the Earthquake Search Builder. This tool allows you to create complex queries about earthquakes and related data.",
      "selector": "#semantic-query-builder",
      "position": "bottom"
    }, {
      "text": "Lets create a query for Earthquakes that occurred in Greece with magnitude greater than 7.0",
      "selector": ".QueryBuilder--domainSelection",
      "position": "bottom"
    }, {
      "text": "First, select the Earthquake category to begin your search.",
      "selector": ".QueryBuilder--categorySelectionItem",
      "position": "right"
    }, {
      "text": "Now, lets specify the location. Select the \"took place at\" relation.",
      "selector": ".QueryBuilder--relationSelector",
      "position": "right"
    }, {
      "text": "Type \"Greece\" in the search box and select it from the results.",
      "selector": ".QueryBuilder--searchBasedTermSelector",
      "position": "right"
    }, {
      "text": "To add the magnitude filter, click the \"and\" button.",
      "selector": ".QueryBuilder--addConjunctButton",
      "position": "right"
    }, {
      "text": "Select \"has magnitude\" from the relations list.",
      "selector": ".QueryBuilder--relationSelector",
      "position": "right"
    }, {
      "text": "Enter \">= 7.0\" to find major earthquakes.",
      "selector": ".QueryBuilder--searchBasedTermSelector",
      "position": "right"
    }, {
      "text": "Your search results will appear here. You can view them in different formats using these tabs.",
      "selector": "#search-results",
      "position": "top"
    }]'></rs-guided-tour>

    <mp-event-trigger id='guided-tour-start' type='GuidedTour.Start' targets='["guided-tour"]'>
      <button class="help-button fa fa-question"></button>
    </mp-event-trigger>
  </div>
</div>




<style>
  .navbar-default {
    box-shadow: none !important
  }
  
  .earthquake-card {
    margin-bottom: 15px;
  }
  
  .help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #337ab7;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
  }
  
</style>

