

<div style="padding: 2vw;">
  <h3 style="justify-self: center;"> View all Earthquakes </h3>
  <div class="semantic-table-container">
    <semantic-table id="eq-table" query='
    PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>
    PREFIX crmsci: <http://www.cidoc-crm.org/extensions/crmsci/>
    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
    PREFIX eq: <https://crm-eq.ics.forth.gr/ontology#>
    
    SELECT ?place
      (STR(COALESCE(?areaLabel1, ?areaLabel2, STR(?place))) AS ?areaLabel)
      ?magClass 
      (MAX(?date) AS ?lastDate) 
      (STR(xsd:integer(COUNT(?earthquake))) AS ?count)
    WHERE {
      ?earthquake a eq:EQ1_Earthquake ;
                  crm:P7_took_place_at ?place ;
                  crmsci:O12_has_dimension ?dimension ;
                  crm:P4_has_time-span ?ts .
    
      ?dimension crm:P90_has_value ?magnitude .
      ?ts crm:P82a_begin_of_the_begin ?date .
    
      OPTIONAL {
        ?place crm:P1_is_identified_by ?app .
        ?app rdfs:label ?areaLabel1 .
      }
      OPTIONAL {
        ?place rdfs:label ?areaLabel2 .
      }
    
      BIND(
        IF(?magnitude > 9, "over 9",
        IF(?magnitude > 8.5, "over 8.5",
        IF(?magnitude > 8, "over 8", 
        IF(?magnitude > 7.5, "over 7.5",
        IF(?magnitude > 7, "over 7",
        IF(?magnitude > 6.5, "over 6.5",
        IF(?magnitude > 6, "over 6",
        IF(?magnitude > 5.5, "over 5.5",
        IF(?magnitude > 5, "over 5", "under 5"
        ))))))))) AS ?magClass
      )
    }
    GROUP BY ?place ?areaLabel1 ?areaLabel2  ?magClass
    
      ' number-of-displayed-rows="15" options='{"showFilter": true}' no-result-template='{{> noeq}}'
      column-configuration='[ {"variableName": "areaLabel", "displayName": "Place" , "cellTemplate": "{{> place}}"},
      {"variableName": "magClass", "displayName": "Magnitude", "cellTemplate": "{{> magnitude}}"},
      {"variableName": "lastDate", "displayName": "Last Date Of Occurence"},
      {"variableName": "count", "displayName": "Number of Earthquakes" }
      ]'>
      <template id="place">
        <semantic-link iri="{{place.value}}" style="color:#112e45;">{{areaLabel.value}}</semantic-link>
      </template>
      <template id="magnitude">
        {{#ifCond magClass.value "===" "over 9"}}
          <span style="color: red; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 8.5"}}
          <span style="color: orange; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 8"}}
          <span style="color: yellow; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 7.5"}}
          <span style="color: green; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 7"}}
          <span style="color: blue; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 6.5"}}
          <span style="color: purple; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 6"}}
          <span style="color: pink; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 5.5"}}
          <span style="color: brown; font-weight: bold;">{{magClass.value}}</span>
        {{else ifCond magClass.value "===" "over 5"}}
          <span style="color: gray; font-weight: bold;">{{magClass.value}}</span>
        {{else}}
          <span>{{magClass.value}}</span>
        {{/ifCond}}
      </template>
      <template id="noeq">
        <div style="padding: 12px 8px">
          No earthquakes available
        </div>
      </template>
    </semantic-table>
  </div>
</div>
<style>
  .semantic-table-container {
    width: 80vw;
    height: 100%;
    padding: 2vw;
    justify-self: center;
  }
</style>