<div class="structured-search-page">
   <div id="structured-search">

      <semantic-search categories='[[> rsp:SearchCategories]]' relations='[[> rsp:SearchRelations]]'
         search-profile='[[> rsp:SearchProfile]]' limit="1000">

         <semantic-search-query-builder></semantic-search-query-builder>
         <semantic-search-facet-store values-limit="1000" id='facet'></semantic-search-facet-store>
         <div class="bottom-section" data-flex-layout="row stretch-stretch">
            <bs-col lg="3" md="4" sm="5" class="fade-in-fwd filters-container" style="margin-top: 8px"
               id="artwork-filter-search">
               <bs-panel id="filter-panel" header="Filters" collapsible="true" default-expanded="true">
                  <semantic-search-facet open-by-default='true' sortby='count-desc' prefetch-labels="false"
                     facet-values-threshold="1000"></semantic-search-facet>
               </bs-panel>
            </bs-col>
            <semantic-search-result-holder>
               <style>
                
               </style>
               <div data-flex-self="md-full">
                  <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>

                  <semantic-search-result>
                     <semantic-query id="count-artist" query='SELECT (COUNT( DISTINCT ?subject) as ?count) WHERE {
                                 }' template="{{>currentResultCount}}">
                        <template id="currentResultCount">
                           <span>
                              Found
                              {{#ifCond bindings.0.count.value "==" 1000 }}
                              more than 1000 matches, please refine your search
                              {{else}}
                              {{bindings.0.count.value}} matches
                              {{/ifCond}}
                              <small>
                                 Displaying
                                 {{#ifCond bindings.0.count.value ">=" 1000 }}
                                 the first 1000 results
                                 {{else}}
                                 all results
                                 {{/ifCond}}
                              </small>
                           </span>
                        </template>
                     </semantic-query>
                  </semantic-search-result>
                  <bs-tabs unmount-on-exit=true id='search-results' animation=false>
                     <bs-tab event-key="1" title="Grid">
                        <semantic-search-result>
                           <semantic-table id='grid-result' query='
                                                   SELECT DISTINCT ?subject ?label (GROUP_CONCAT(DISTINCT ?typeLabel;SEPARATOR=", ")as ?typeLabel) WHERE {
                                                     ?subject a ?type.
                                                     ?type rdfs:label ?typeLabel.
                                                   } GROUP BY ?subject ?label LIMIT 10000'
                              tuple-template='{{>tupleTemplate}}' options='{"showFilter":true}' prefetch-labels="false"
                              no-result-template='No results found'>
                              <template id='tupleTemplate'>
                                 <div id="structuredResultCard" class="rs-grid-element text-center panel panel-default"
                                    style="min-height:80px; place-content: center;">
                                    <div class="panel-footer"
                                       style="position: relative;display: flex; flex-direction: column; align-items: center;">
                                       <h3><semantic-link class="grid-resource-link"
                                             iri="{{subject.value}}">{{label.value}}</semantic-link></h3>
                                       <h6 style="font-weight: 100;">{{typeLabel.value}}</h6>
                                    </div>
                                 </div>
                              </template>
                           </semantic-table>
                        </semantic-search-result>
                     </bs-tab>
                     <bs-tab event-key="2" title="Table">
                        <semantic-search-result>
                           <semantic-table id='table-result' query=' SELECT DISTINCT ?subject ?label (GROUP_CONCAT(DISTINCT ?typeLabel;SEPARATOR=", ")as ?typeLabel) WHERE {
                                                     ?subject a ?type.
                                                       ?subject rdfs:label ?label.
                                                     ?type rdfs:label ?typeLabel.
                                                   } GROUP BY ?subject ?label2 LIMIT 10000'
                              options='{"showFilter":true,"showColumnToggle":true}'
                              no-result-template='No results found' column-configuration='[
                                                {"variableName":"subject","displayName":"Title","cellTemplate":"{{> link}}"},
                                                {"variableName":"typeLabel","displayName":"Type"},
                                                {"variableName":"typeLabel","displayName":"Type","visible":false}
                                                ]'>
                              <template id='link'>
                                 <semantic-link iri="{{subject.value}}">{{label2.value}}</semantic-link>
                              </template>
                           </semantic-table>
                        </semantic-search-result>
                     </bs-tab>
                     <bs-tab event-key="3" title="Graph">
                        <semantic-search-result>
                           <semantic-graph id="graph-result" height='600px' query='
                                                       CONSTRUCT {
                                                         ?x ?y ?z
                                                       } WHERE {
                                                       {
                                                    SELECT  * WHERE {
                                                      ?x ?y ?z .
                                                      FILTER( STR(?y) != "http://purl.org/dc/elements/1.1/description" )
                                                      FILTER (STR (?y) != "http://www.w3.org/2000/01/rdf-schema#comment")
                                                   }}}LIMIT 100'>
                              <semantic-graph-layout-cose-bilkent
                                 ideal-edge-length=200></semantic-graph-layout-cose-bilkent>

                              <semantic-graph-extension-panzoom
                                 pan-indicator-min-opacity=0.1></semantic-graph-extension-panzoom>
                              <semantic-graph-extension-navigator
                                 style="height: 150px; width: 150px;"></semantic-graph-extension-navigator>
                           </semantic-graph>
                        </semantic-search-result>
                     </bs-tab>
                  </bs-tabs>
               </div>
            </semantic-search-result-holder>
         </div>
      </semantic-search>
   </div>
</div>

<style>
   i.fa.fa-caret-down.DataTable--button-icon-right {
      color: white !important;
   }

   li.btn.ItemSelector--itemHolder.QueryBuilder--categorySelectionItem[aria-label="Double"] {
      display: none !important;
   }

   #structured-search .FacetBreadcrumbs--cancelButton {
      justify-content: center !important;
   }
</style>