{
    "<http://www.cidoc-crm.org/cidoc-crm/P102_has_title>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P102_has_title> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P10_falls_within>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P10_falls_within> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P10i_contains>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P10i_contains> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P129i_is_subject_of> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P135i_was_created_by>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P135i_was_created_by> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P139_has_alternative_form>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P139_has_alternative_form> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P13_destroyed>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P13_destroyed> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P2_has_type>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P2i_is_type_of>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P2i_is_type_of> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P40_observed_dimension>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P40_observed_dimension> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P40i_was_observed_in>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P40i_was_observed_in> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P45_consists_of>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P45_consists_of> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P70i_is_documented_in> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P7i_witnessed>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P7i_witnessed> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/cidoc-crm/P8_took_place_on_or_within>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/cidoc-crm/P8_took_place_on_or_within> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crminf/J13_adopted_interpretation>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crminf/J13_adopted_interpretation> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crminf/J7_is_based_on_evidence_from>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crminf/J7_is_based_on_evidence_from> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O13_triggered>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O13_triggered> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O13i_was_triggered_by>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O13i_was_triggered_by> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O24i_was_measured_by>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O24i_was_measured_by> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O25_contains>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O25_contains> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O8_observed>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O8_observed> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crmsci/O8i_was_observed_by>": [
      {
        "kind": "resource", 
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crmsci/O8i_was_observed_by> ?__value__."
      }
    ],
    "<https://crm-eq.ics.forth.gr/ontology#PEQ5_has_documented_possible_timespan>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <https://crm-eq.ics.forth.gr/ontology#PEQ5_has_documented_possible_timespan> ?__value__."
      }
    ],
    "<https://crm-eq.ics.forth.gr/ontology#PEQ6_has_documented_possible_place>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <https://crm-eq.ics.forth.gr/ontology#PEQ6_has_documented_possible_place> ?__value__."
      }
    ],
    "<https://crm-eq.ics.forth.gr/ontology#PEQ7_has_documented_possible_epicenter_place>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <https://crm-eq.ics.forth.gr/ontology#PEQ7_has_documented_possible_epicenter_place> ?__value__."
      }
    ],
    "<https://crm-eq.ics.forth.gr/ontology#PEQ8_has_documented_possible_dimension>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <https://crm-eq.ics.forth.gr/ontology#PEQ8_has_documented_possible_dimension> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crminf/J4_that>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crminf/J4_that> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crminf/J2_concluded_that>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crminf/J2_concluded_that> ?__value__."
      }
    ],
    "<http://www.cidoc-crm.org/extensions/crminf/J1_used_as_premise>": [
      {
        "kind": "resource",
        "queryPattern": "\n$subject a ?__domain__.\n$subject <http://www.cidoc-crm.org/extensions/crminf/J1_used_as_premise> ?__value__."
      }
    ]
  }