{
    "categories": [{
      "iri": "<http://www.cidoc-crm.org/cidoc-crm/E53_Place>",
      "label": "Place",
      "thumbnail": "/assets/images/icons/structuredSearchIcons/right.svg"
    }, {
      "iri": "<https://www.w3.org/2001/XMLSchema#date>",
      "label": "Date",
      "thumbnail": "/assets/images/icons/structuredSearchIcons/date.svg"
    },{
      "iri": "<http://www.cidoc-crm.org/cidoc-crm/E55_Type>",
      "label": "Type",
      "thumbnail": "/assets/images/icons/structuredSearchIcons/type.svg"
    }, {
      "iri": "<http://www.w3.org/2001/XMLSchema#string>",
      "label": "Value",
      "thumbnail": "/assets/images/icons/structuredSearchIcons/type.svg"
    }, {
      "iri": "<https://www.w3.org/2001/XMLSchema#double>",
      "label": "Double",
      "thumbnail": "/assets/images/icons/structuredSearchIcons/double.svg"
    }
    ],
    "relations": [{
      "hasDomain": "<http://parthenos.d4science.org/CRMext/CRMpe.rdfs/PE24_Volatile_Dataset>",
      "iri": "<https://www.lifewatchitaly.eu/resource/fr/Dataset_has_publication_Date>",
      "hasRange": "<https://www.w3.org/2001/XMLSchema#date>",
      "label": "was published during"
    },{
      "hasDomain": "<http://parthenos.d4science.org/CRMext/CRMpe.rdfs/PE24_Volatile_Dataset>",
      "iri": "<https://www.lifewatchitaly.eu/resource/fr/Dataset_has_creation_Date>",
      "hasRange": "<https://www.w3.org/2001/XMLSchema#date>",
      "label": "created during"
    }
    ]
  }