<div style="padding: 2vw;">
  <h3 style="justify-self: center;"> View all Places</h3>
  <div class="semantic-table-container">
    <semantic-table id='eq-table' query='SELECT DISTINCT ?subject
    WHERE {
      ?subject a <http://www.cidoc-crm.org/cidoc-crm/E53_Place>.
      FILTER NOT EXISTS {?subject <http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension> ?g}
      FILTER NOT EXISTS {?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://crm-eq.ics.forth.gr/ontology#epicentral_coordinates>}
    }
      ' number-of-displayed-rows=15 options='{"showFilter": true}' no-result-template='{{> noeq}}'>
      <template id="noeq">
        <div style="padding: 12px 8px">
          No eq available
        </div>
      </template>
    </semantic-table>
  </div>
</div>
<style>
  .semantic-table-container {
    width: 80vw;
    height: 100%;
    padding: 2vw;
    justify-self: center;
  }
</style>