   <section style="background-image: url(../../assets/homepage/other/bg-grey-with-pattern.jpg);width: 100%; height: 20vh; display: flex; justify-content: center; align-items: center;">
   <h1>Earthquake RS:A KG into Historical Earthquake Statistics</h1>
   
   </section>
<section>
   <div id="photoTiles">
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/arkalochori.webp"></div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/church.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/seismos_thessaloniki_78.webp">
            </div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/seismos-eptanisa-1953.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/house.webp"></div>
            <div class="flip-card-back"><img class="back"
                  src="/assets/homepage/flip/32d7848ebb590546f3492ab827e22ebd.webp"></div>
         </div>
      </div>
      <div class="flip-card">
         <div class="flip-card-inner">
            <div class="flip-card-front"><img class="face" src="/assets/homepage/flip/seismic-activity.webp"></div>
            <div class="flip-card-back"><img class="back" src="/assets/homepage/flip/seismos-2016.webp"></div>
         </div>
      </div>
      
      <div class="search-container">
         <semantic-simple-search id='semantic-simple-search' query='
           SELECT DISTINCT  ?resource ?label ?typelabel WHERE {
             FILTER REGEX(?label, ?__token__, "i")
             ?resource a ?type .
               ?type rdfs:label ?typelabel .
               FILTER (lang(?typelabel) = "en")
               ?resource rdfs:label ?label .
           }  LIMIT 10
         ' template='<span style="color: blue;" title="{{resource.value}}">{{label.value}} ({{typelabel.value}})</span>'
            input-placeholder='Search for something e.g. "Heraklion"'></semantic-simple-search>
         <!-- <input type="text" class="search-box" placeholder="Search Earthquakes"> -->
         <i class="search-icon"><img src="/assets/search.png" alt="search icon"></i>
      </div>
   </div>
</section> 
<section style="text-align: center;">
   <div class="metrics-container">
      <div class="metrics-title">Statistics</div>
      <div class="metrics-boxes">
         <div class="metric-box">
            <div class="metric-value">
               <semantic-query query="SELECT (STR(COUNT(?sub)) AS ?count)
               WHERE {
                 ?sub a <https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake> .
               }
               "></semantic-query>
            </div>
            <div class="metric-label">Total Earthquakes</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">
               <semantic-query query="SELECT (STR(ROUND(MAX(xsd:double(?mag)) * 10) / 10) AS ?maxMagnitude)
               WHERE {
                 ?x a <https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake> .
                 ?x <http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension> ?dim .
                 ?dim a <http://www.cidoc-crm.org/cidoc-crm/E54_Dimension> ;
                       <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type ;
                       <http://www.cidoc-crm.org/cidoc-crm/P90_has_value> ?mag .
                 FILTER(CONTAINS(STR(?type), 'magnitude'))
               }"></semantic-query>
            </div>
            <div class="metric-label">Highest Magnitude</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">
               <semantic-query query="SELECT ?label 
               WHERE {
                 ?x a <https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake> ;
                    <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?time ;
                    <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?place .
                    ?place rdfs:label ?label.
                 
                 ?time <http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within> ?date .
               }
               ORDER BY DESC(xsd:dateTime(?date))
               LIMIT 1"></semantic-query>
            </div>
            <div class="metric-label">Latest Earthquake Location</div>
         </div>
         <div class="metric-box">
            <div class="metric-value">
               <semantic-query query="SELECT (STR(?mag) as ?magnitude)
               WHERE {
                 ?x a <https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake> ;
                    <http://www.cidoc-crm.org/cidoc-crm/P4_has_time-span> ?time ;
                    <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?place .
                    ?place rdfs:label ?label.
                 
                 ?time <http://www.cidoc-crm.org/cidoc-crm/P82_at_some_time_within> ?date .
                 ?x <http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension> ?dim .
                                ?dim a <http://www.cidoc-crm.org/cidoc-crm/E54_Dimension> ;
                                      <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type ;
                                      <http://www.cidoc-crm.org/cidoc-crm/P90_has_value> ?mag .
                                FILTER(CONTAINS(STR(?type), 'magnitude'))
               }
               ORDER BY DESC(xsd:dateTime(?date))
               LIMIT 1"></semantic-query>
            </div>
            <div class="metric-label">Latest Magnitude</div>
         </div>
      </div>
      <semantic-link iri="rsp:ViewAllEarthquakes"><button class="view-metrics-btn">View all Earthquakes</button></semantic-link>
   </div>
</section>
<section style="">
   [[>rsp:StructuredSearch]]
</section>
<section>
   
</section>
<style>
   .search-widget{
      width: inherit;
   }
   span.Select-arrow-zone{
    display: none !important;
}


</style>