<div>
  <h3>RS Earthquake</h3>
  <p>
    RS Earthquake is a web application that allows users to explore the earthquake data.
  </p>
  <ul>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I10_Provenance_Statement" target="_blank">
        I10_Provenance_Statement (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I12_Adopted_Belief" target="_blank">
        I12_Adopted_Belief (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I1_Argumentation" target="_blank">
        I1_Argumentation (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I2_Belief" target="_blank">
        I2_Belief (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I4_Proposition_Set" target="_blank">
        I4_Proposition_Set (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crminf/I7_Belief_Adoption" target="_blank">
        I7_Belief_Adoption (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="http://www.cidoc-crm.org/extensions/crmsci/S5_Inference_Making" target="_blank">
        S5_Inference_Making (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="https://crm-eq.ics.forth.gr/ontology#EQ1_Earthquake" target="_blank">
        EQ1_Earthquake (instances)
      </semantic-link>
    </li>
    <li>
      <semantic-link iri="https://crm-eq.ics.forth.gr/ontology#EQ2_Comparison_Evaluation" target="_blank">
        EQ2_Comparison_Evaluation (instances)
      </semantic-link>
    </li>
  </ul>
</div>