{
  "categories": [
    {
      "iri": "<http://www.cidoc-crm.org/extensions/crmsci/S21_Measurement>",
      "label": "Measurement"
    },
    {
      "iri": "<http://www.w3.org/2001/XMLSchema#float>",
      "label": "Value"
    }
  ],
  "relations": [
    {
      "iri": "<http://www.cidoc-crm.org/extensions/crmsci/O12_has_dimension>",
      "label": "Has Magnitude",
      "hasDomain": "<http://www.cidoc-crm.org/extensions/crmsci/S21_Measurement>",
      "hasRange": "<http://www.w3.org/2001/XMLSchema#float>"
    }
  ]
}
