
<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li><mp-label iri='[[this]]'></mp-label></li>
</ol>

[[!-- Resource Page --]]
<div class="page">
    <div class="details-content">
        [[#block "detailsResourceHeader"]]
        <div class="details-header">
    
            <div style="max-width: 70%;">
    
                <mp-draggable iri='[[this]]'>
                    <div class="draggable-container">
                        <semantic-query query='SELECT ?type ?typeLabel WHERE {
                                                <[[this]]> a ?type .
                                                ?type rdfs:label ?typeLabel .
                                                FILTER (lang(?typeLabel) = "en")}' template='{{> resourceType }}'>
                            <template id='resourceType'>
                                <div class="detail-type">
                                    {{#each bindings}}{{typeLabel.value}}{{#if @last}}{{else}}, {{/if}}{{/each}}
                                </div>
                            </template>
                        </semantic-query>
    
                        <mp-label iri='[[this]]' class="detail-label"></mp-label>
                    </div>
                </mp-draggable>
    
                <mp-copy-to-clipboard text='[[this]]'>
                    <div class="rs-copy-IRI">Copy IRI</div>
                </mp-copy-to-clipboard>
    
            </div>
    
        </div>
        [[/block]]
    
        <bs-tabs class="details-tabs">
            [[#if withSummary]]
            <bs-tab title='Summary' event-key='summary' mount-on-enter=true>
                <div class="rs-resource-data-table table-responsive">
                    <table class="table table-hover">
                        [[#block "summary"]]
                        <tbody>
                            <tr>
                                <td>No further data available</td>
                                <td></td>
                            </tr>
                        </tbody>
                        [[/block]]
                    </table>
                </div>
            </bs-tab>
            [[/if]]
            <bs-tab title='Information' event-key='raw-data' mount-on-enter=true class="rawdata-tab">
                <div class="rs-resource-data-table">
                    <mp-field-visualization subject='[[this]]'
                        fields='[[fieldDefinitionsFromQuery (setQueryBindings "SELECT DISTINCT ?field WHERE {?field <http://www.researchspace.org/resource/system/fields/category> ?c } ORDER BY DESC(?field)" resource=this.iri) ]]'
                        template='{{> template}}'>
                        <template id="template">{{> rsp:ResourceFieldBasedVisualization subject="[[this]]"}}</template>
                    </mp-field-visualization>
                </div>
            </bs-tab>
        </bs-tabs>
    </div>
    

</div>