<footer class="footer" style="border-top: 1px solid rgb(230, 230, 230);
padding-top: 5vh; width: 100vw;">
    <div style="display: flex;
    column-gap: 5vw; flex-wrap:wrap; justify-content: center; ">
        <div style="min-width: 200px; width:20vw;  max-width: 200px;">
            <h3><a style="color:white" href="/resource/About" title="foaf:About">About</a></h3>
            <p>
                The RS Earthquake App is a platform for exploring earthquake data and related information.
            </p>
        </div>
        <div style="min-width: 200px; width:20vw;  max-width: 200px;">
            <h3 style="color:white" >Contact</h3>
            <p>
                You contact us at <a  href="mailto:"></a>
            </p>
        </div>
        <div style="min-width: 200px;  width:20vw; max-width: 200px;">
            <h3 style="color:white" >Links</h3>
            <ul style="list-style-type: none; padding: 0; ">
                <li><a style="color:white" href="/resource/About">About</a></li>
                <li><a style="color:white" href="/resource/rsp:Search">Search</a></li>
                <li><a style="color:white" href="/resource/rsp:AdvancedSearch">Structured Search</a></li>
                <li><a style="color:white" href="/resource/rsp:ViewAllPlaces">View all Places</a></li>
                <li><a style="color:white" href="/resource/rsp:ViewAllPeople">View all People</a></li>
                <li><a style="color:white" href="/resource/rsp:ViewAllEarthquakes">View all Earthquakes</a></li>
                <li><a style="color:white" href="/sparql">SPARQL</a></li>
            </ul>
        </div>
    </div>
</footer>