<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="rs-header">
        <div class="navbar-header"><button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#rs-navbar" aria-expanded="false" aria-controls="rs-navbar"
                aria-label="Toggle navigation"><span class="sr-only">Toggle navigation</span><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/resource/rsp:Start" class="rs-header-logo" title="Start Page">
            <img src="/assets/logos/logo_white_transparent.png" alt="RS Earthquakes Logo" style="height: 80px;">
             Earthquakes RS
            </a>
        </div>
        <div class="collapse navbar-collapse" id="rs-navbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="/resource/About" title="foaf:About">About</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/resource/rsp:Search" title="foaf:Search">Search</a></li>
                        <li><a href="/resource/rsp:AdvancedSearch" title="foaf:AdvancedSearch">Structured Search</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Main Entities <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/resource/rsp:ViewAllPlaces" title="foaf:Search">View all Places</a></li>
                        <li><a href="/resource/rsp:ViewAllPeople" title="foaf:AdvancedSearch">View all People</a></li>
                        <li><a href="/resource/rsp:ViewAllEarthquakes" title="foaf:AdvancedSearch">View all Earthquakes</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="/sparql" title="sparql" class="rs-body-m-M">SPARQL</a>
                </li>
                <mp-anonymous-hidden>
                    <li class="">
                        <a href="/resource/admin" title="admin" class="rs-body-m-M">Admin</a>
                    </li>

                </mp-anonymous-hidden>
                <li class="">
                    <mp-anonymous-hidden>
                        <a id="logoutLink" href="/logout" title="logout" class="rs-body-m-M">Logout</a>
                    </mp-anonymous-hidden>
                    <a id="loginLink" href="/login" title="login" class="rs-body-m-M">Login</a>
                </li>



            </ul>
        </div>
    </div>
</nav>