<title>{{deploymentTitle}}</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" href="/assets/assets/logo/parthenon-logo.png" type="image/x-icon">
<link href="/assets/home.css" rel="stylesheet" type="text/css">

<link href="/assets/styles/homepage.css" rel="stylesheet" title="Default Style" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/styles/structuredSearch.css" type="text/css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/styles/filterSearch.css" type="text/css" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/styles/AdvancedSearch.css" type="text/css" crossorigin="anonymous">


