<title>{{deploymentTitle}}</title>

<meta http-equiv="content-language" content="en">
<meta name="description" content="project description">
<meta name="keywords" content="keyword1, keyword2">
<meta name="author" content="Researchspace">

<link href="/assets/styles/homepage.css" rel="stylesheet" title="Default Style" crossorigin="anonymous">
