.card-header {
    border-radius: 6px !important;
    margin-left: 16px;
    margin-right: 16px;

}

#filter-panel>.card-header {
    border: 1px solid var(--color-grey-shade) !important;
}

.accordion>.card>.card-header {
    margin-bottom: unset !important;
}

#structured-search>div {
    min-height: 700px !important;
}

.QueryBuilder--actionableItem:hover {
    background-color: var(--color-primary) !important;
}

.QueryBuilder--addDisjunctButton.QueryBuilder--selectedItem.QueryBuilder--actionableItem:hover,
#undefined-searchClause-0>div.QueryBuilder--addConjunctButton.QueryBuilder--selectedItem.QueryBuilder--actionableItem:hover {
    background-color: var(--color-primary)21 !important;
    text-decoration: underline !important;
}

.question-button {
    text-align: center;
    z-index: 100;
    box-shadow: 1px 1px 9px 2px rgb(228 228 228);
    transition: 0.4s;
    right: 10vw;
}

.question-button:hover {
    background: var(--color-primary);
    box-shadow: none;
}

#structured-search {
    display: block !important;
}

.facet__relation__header {
    border-radius: 5px;
}

#structured-search .visualizationValue {
    font-size: medium !important;
    min-width: 14vw;
    max-width: 14vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#structured-search .QueryBuilder--addConjunctButton,
#structured-search .QueryBuilder--addDisjunctButton {
    visibility: initial !important;
    height: 5vh !important;
    min-height: 50px;

}

#structured-search .QueryBuilder--searchExpand.QueryBuilder--searchCollapseExpand.QueryBuilder--searchCollapseExpand+.search-summary {
    margin: unset;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    font-size: unset;
    text-align: unset;
    font-weight: unset;
    height: unset;
    background-image: unset;
}

#structured-search .QueryBuilder--searchCollapse.QueryBuilder--searchCollapseExpand.QueryBuilder--searchCollapseExpand+.search-summary {
    margin: unset;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    background-image: unset;
    font-size: unset;
    text-align: unset;
    font-weight: unset;
    font-size: large !important;
}

.QueryBuilder--searchSummaryHolder {
    flex-direction: column-reverse;

}

#structured-search>div>div.QueryBuilder--searchAreaHolder>hr {
    display: contents !important;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div.QueryBuilder--searchSummaryHolder>div {
    padding-top: 2vh !important;
}

#structured-search .search-summary {
    margin: 0 5px 0 0;
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 14vh;
}

#structured-search i.QueryBuilder--searchExpand.QueryBuilder--searchCollapseExpand.QueryBuilder--searchCollapseExpand+.search-summary .SearchSummary--start {
    display: none !important;
}

#structured-search .search-summary .SearchSummary--start {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    font-size: 38px;
    text-align: center;
    filter: drop-shadow(2px 4px 6px rgb(227, 226, 255));
}

#structured-search .QueryBuilder--searchCollapse.QueryBuilder--searchCollapseExpand.QueryBuilder--searchCollapseExpand+.search-summary .SearchSummary--start {
    position: unset;
    top: unset;
    left: unset;
    color: unset;
    width: unset;
    font-size: unset;
    text-align: unset;
    filter: unset;
}

#structured-search .QueryBuilder--domainSelection {
    width: 65% !important;
    position: relative;
    padding: 10px;
    gap: 10px;
    top: 3vh;
    display: flex;
    margin-left: 0px !important;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 4px;
    justify-self: center;
    margin-top: 10vh;
}

#structured-search .QueryBuilder--domainSelection li {
    place-content: center;
    border-top: none !important;
    font-size: large;
    height: 8vh !important;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 4px;
    font-weight: bold !important;
    background: transparent;
}

#structured-search .QueryBuilder--domainSelection li .semantic-search__class-selector-item img {
    height: 5vh !important;
}

#structured-search .ItemSelector--itemHolder:focus,
#structured-search .ItemSelector--itemHolder:hover {
    background-color: #3237d115;
}

#structured-search .QueryBuilder--itemHolder {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 2px 2px 0px lightgrey;
    padding-left: 12px;
    padding-right: 12px;
    min-width: 140px;
    min-height: 50px;
}

#structured-search .QueryBuilder--searchClause {
    margin: 10px 0;
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    border: none !important;
}

#structured-search .QueryBuilder--selectedItem:after {
    content: "";
    position: absolute;
    width: 35.12px;
    height: 35.12px;
    top: 8px;
    right: -15px;
    transform: scaleX(0.7) rotate(45deg);
    padding: 0;
    z-index: 1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-left: none;
    background-color: #fff;
    margin-bottom: 8px;
}

.QueryBuilder--searchArea {
    align-items: start;
}

#structured-search .ItemSelector--itemHolder {
    height: 5vh !important;
}

#structured-search .QueryBuilder--searchAreaHolder {
    display: flex;
    place-content: center !important;
    width: 100%;
    position: relative;
    margin-top: 4%;

}

.QueryBuilder--selectedItem {
    gap: 1vw !important;
}

#structured-search .QueryBuilder--searchAreaHolder img {
    height: 3vh !important;
    width: unset !important;

}

#structured-search .QueryBuilder--magnifierIcon {
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    background-position-y: center;
    background-position-x: center;
    background-image: none;
    background-size: contain;
}

#structured-search .QueryBuilder--nestedSearchButton {
    width: 5vw;
    min-width: 60px;
}

#structured-search .SearchSummary--domain,
#structured-search .SearchSummary--Resource {
    width: max-content;
    width: -moz-max-content;
    font-weight: 600;
    color: var(--color-primary) !important;
    font-size: 15px;
    line-height: 1.2;
}

.category-item-holder:hover {
    background-color: none !important;
}

.FacetBreadcrumbs--conjunct {
    gap: 1vw;
}

#structured-search .facet__category-selector-holder .category-selector li {
    border-right: none;
    border: none !important;
    margin: 4px;
    min-width: 88px;
    padding: 10px;
    box-shadow: 1px 1px 4px 1px lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 3px;
    transition: 0.3s;
}

#structured-search .facet__category-selector-holder .category-selector li:hover {
    background-color: var(--mp-color-grey-light);
}

#structured-search .facet__category-selector-holder .category-selector .category-item-holder {
    min-width: 30px;
}

#structured-search .facet__relation__header:focus,
#structured-search .facet__relation__header:hover {
    background-color: #73737315 !important;
}

#structured-search .category-item-holder--active {
    background-color: transparent !important;
}

#structured-search .show-facet-button__show {
    margin-left: -38% !important;
}

#structured-search .clearable-input {
    border: none !important;
}

#structured-search .clearable-input__clear {
    width: 45px;
    height: 3vh !important;
    color: var(--color-dark--op50, rgba(29, 10, 112, 0.5));
    border: none !important;
}

#structured-search .facet__relation__values__value:focus,
#structured-search .facet__relation__values__value:hover {
    background-color: #4532d115 !important;
}

#structured-search .FacetBreadcrumbs--cancelButton {
    min-width: 30px;
    max-width: 60px;
    width: 2vw;
    padding: 0 !important;

}

#structured-search .QueryBuilder--removeConjunctButton {
    height: 5vh !important;

    margin-left: 15px !important;
}

#structured-search .Select-control {
    border-bottom-color: #38327960 !important;
}

#structured-search .table-responsive>.table>tbody>tr>td {
    padding: 0 !important;
}

#structured-search #search-results .rs-grid-element.panel {
    background: white !important;
}

#structured-search #search-results .rs-grid-element:hover {
    box-shadow: 1px 2px 8px 0 #0e177635, 1px 3px 12px 2px rgba(0, 0, 0, 0.07);
}

#structured-search .panel-body {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    user-select: unset !important;
}

#structured-search #search-results .rs-grid-element .panel-body {
    cursor: pointer;
    font-size: large;
    align-items: center;
    display: flex !important;
}


#tableView {
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px 1px #f8f8f8;

}

#search-results-tabpane-2>#tableView {
    overflow: unset !important;
}

#tableView th {
    font-size: medium !important;
    font-weight: 600;
    color: #616161 !important;
    border-bottom-color: #f4f4f4 !important;
}

#tableView .standard-row a {
    font-size: medium !important;
    color: #6b0000 !important;
    text-decoration: none !important;
    white-space: normal !important;
}

#structured-search .semantic-facet-holder .facet {
    background: white;
}

#structured-search .facet__category-selector-holder {
    width: 16vw !important;
}

#structured-search .semantic-search-results-actions {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8vh;
}

#structured-search .artwork-card-big .table-responsive>.table>tbody>tr>td {
    padding: 15px 8px !important;
}

#structured-search .filters-container {
    display: block;
    margin-top: 8px;
    position: -webkit-sticky;
    position: sticky;
    padding: 1vh;
    top: 14vh;
    z-index: 1;
    background: white;
}

div#eq-filter-search:only-child {
    display: none !important;
}

.Select.DateFormatSelector--dateFormatSelect.Select--single.is-searchable .Select-option {
    display: none !important;
}

.Select.DateFormatSelector--dateFormatSelect.Select--single.is-searchable .Select-option:nth-child(5) {
    display: block !important;
}

@media (max-width: 800px) {
    #tableView {
        margin: unset;
        padding: unset;
        overflow-x: scroll;
    }

    #structured-search .filters-container {

        top: unset !important;

        position: relative !important;
    }

    #structured-search .semantic-search-results-actions.pull-right {
        float: unset !important;
    }

    #structured-search .QueryBuilder--domainSelection {
        top: 20vh;
        width: 98vw;
    }

    #structured-search .QueryBuilder--searchAreaHolder {
        left: 0%;
        top: 4vh;
    }

    #structured-search .QueryBuilder--searchBasedTermSelectorHolder {
        margin-left: 0 !important;
    }

    #structured-search .QueryBuilder--resourceSelector {
        width: 60vw !important;
    }

    #structured-search .QueryBuilder--searchClauseHolder {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80vw !important;
    }

    #structured-search .QueryBuilder--itemHolder {
        margin-top: 20px;
    }

    #structured-search .QueryBuilder--relationPlaceholder {
        margin-top: 20px;
    }

    #structured-search .DateFormatSelector--holder,
    .DateFormatSelector--inputHolder.DateFormatSelector--holder,
    .DateFormatSelector--inputHolder.DateFormatSelector--holder,
    .DateFormatSelector--inputHolder {
        flex-wrap: wrap;
    }

    #structured-search .show-facet-button__show {
        margin-top: 2vh;
        margin-bottom: 18vh;
    }

    #search-results-tabpane-1>div>div.table-header-container.DataTable--header-container {
        place-content: center;
    }

    .DataTable--table-grid-layout {
        place-content: center !important;
    }

    .rs-grid-element {
        min-width: 300px !important;
    }


    #structured-search .facet-relations {
        margin-bottom: 40px;
    }

    #structured-search .facet__category-selector-holder {
        width: 80vw;
    }

    #structured-search [data-flex-layout*="column"][data-flex-layout*="-stretch"],
    [data-flex-layout*="row"][data-flex-layout*="stretch-"] {
        flex-wrap: wrap;
    }

    #structured-search .search-summary {
        position: unset;
        top: unset;
        left: unset;
    }

    #structured-search .search-summary .SearchSummary--start {
        top: 2vh;

    }

    #structured-search .semantic-table-holder {
        width: 100%;
        left: 0;
    }

    #sturctured-search .SemanticSearchContextualizedResult--contextSelector {
        width: 100vw;
    }

    #structured-search .researchspace-table-widget-holder .griddle-filter .filter-container .form-control {
        width: 70% !important;
    }

    #structured-search #tableView {
        margin: 0;
        padding: 0;
        overflow-x: scroll;
    }
}

.bottom-section {
    margin-bottom: 100px;
}

.export-buttons {
    float: right;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>div>ul>li:hover {
    background-color: var(--color-primary) !important;
    color: white !important;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>div>ul>li:hover img {
    filter: brightness(0) invert(1);
}


#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>ul>li>div>div {
    width: 13vh;
    height: 13vh;
    display: flex;
    align-items: center;
    place-content: center;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>div>ul>li>div {
    padding: 0px !important;
    margin: 0px !important;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>ul>li>div>div:hover {
    background-color: var(--color-primary) !important;
    border-radius: 10000000px;
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>ul>li>div>div:hover img {
    filter: brightness(0) invert(1);
}

#structured-search>div>div.QueryBuilder--searchAreaHolder>div>div>div>ul>li>div>div :hover {
    background-color: unset !important;
    border-radius: unset !important;
}

.btn-download {
    background-color: var(--color-primary);
    color: white;
    transition: 0.3s;
}


.btn-download:hover {
    background-color: var(--color-primary);
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.export-buttons {
    display: none !important;
    gap: 5px;
}